/* ============================================================
  Global
============================================================ */

// Place main content.
html.wp-toolbar {
  padding-top: $admin-bar-height;

  @media screen and (max-width: 600px) {
    padding-top: 0;
  }

}

#wpcontent,
#wpfooter {
  margin-left: $admin-menu-width;
  padding-left: $content-margin;
}
/* 
// Change background color.
#wpwrap {
  background: $color-wpcontent;
}
*/

// Adapt margin to folded admin menu.
.folded #wpcontent,
.folded #wpfooter {
  margin-left: $admin-menu-collapse-width;

  @media only screen and (max-width: 960px) {
    margin-left: $admin-menu-collapse-width;
  }

  @media only screen and (max-width: 782px) {
    margin-left: 0;
  }

}


@media only screen and (min-width: 960px) {
	.wrap {
 		margin: 55px $content-margin 0 2px;
	}
}

#screen-meta-links {
  margin-right: $content-margin;
}

// Error and update messages.
.notice-error, 
div.error,
div.updated,
.update-nag,
#update-nag {
  border-top: $default-border;
  border-right: $default-border;
  border-bottom: $default-border;
  box-shadow: none;
}
