/* ============================================================
  Lists and Tables
============================================================ */

// table styling
table.wp-list-table.widefat {
  margin: 20px 0px;
  border: none;
  border: $default-border;
}

// table rows padding
.widefat td, 
.widefat th,
.updates-table tbody td.check-column, 
.widefat tbody th.check-column, 
.widefat tfoot td.check-column, 
.widefat thead td.check-column {
  padding: 18px 10px;
}

/*
.striped>tbody>:nth-child(n), ul.striped>:nth-child(n) {
  // reset background from every 2nd row
  background: inherit;
  
  // hover row styling
  &:hover { background: white; }

}
*/

// row border
td, .check-column {
border-bottom: $default-border;}

// table navigation container
.tablenav {
  height: $default-button-height;
}