// Variables

// Mesurements
$admin-menu-width: 220px;
$admin-menu-collapse-width: 57px;
$content-margin: 35px; 
$admin-bar-height: 50px;
$default-button-height: 45px;

// Colors
$body-background: rgb(245, 245, 245);
$base-color: rgb(255, 255, 255);
$text-color: rgb(65, 65, 65);
$link: darken( $base-color, 80% );
$link-focus: rgb(0, 137, 172);
$icon-color: darken( $base-color, 65% );
$highlight-color: rgb(0, 137, 172);
$notification-color: rgb(213, 78, 33);
$color-wpcontent: hsl(0, 0%, 94%);
$button-color: rgb(241, 241, 241);
$form-checked: $link-focus;

// Mood colors
$color__mood-excellent: #03AF36;
$color__mood-very-good: #7BCD3E;
$color__mood-good:      #2388A3;
$color__mood-neutral:   #14B7BD;
$color__mood-bad:       #FFAA00;
$color__mood-very-bad:  #FF6E00;
$color__mood-horrible:  #eb231d;

// Admin menu & Admin-bar colors
$menu-text: $text-color;
$menu-icon: $icon-color;
$menu-background: $base-color;

$menu-highlight-text: $text-color;
$menu-highlight-icon: $text-color;
$menu-highlight-background: rgba(0, 0, 0, 0);

$menu-current-text: $menu-highlight-text;
$menu-current-icon: $menu-highlight-text;
$menu-current-background: rgba(0, 0, 0, 0);

$menu-submenu-text: mix( $base-color, $text-color, 30% );
$menu-submenu-background: $base-color;
$menu-submenu-background-alt: $base-color;

$menu-submenu-focus-text: $link-focus;
$menu-submenu-current-text: $text-color;

$menu-bubble-text: white;
$menu-bubble-background: $notification-color;
$menu-bubble-current-text: $text-color;
$menu-bubble-current-background: $menu-submenu-background;

$menu-collapse-text: $menu-icon;
$menu-collapse-icon: $menu-icon;
$menu-collapse-focus-text: $text-color;
$menu-collapse-focus-icon: $menu-highlight-icon;

$adminbar-avatar-frame: lighten( $menu-background, 7% );
$adminbar-input-background: lighten( $menu-background, 7% );

$adminbar-recovery-exit-text: $menu-bubble-text !default;
$adminbar-recovery-exit-background: $menu-bubble-background !default;
$adminbar-recovery-exit-background-alt: mix(black, $adminbar-recovery-exit-background, 10%) !default;

$menu-customizer-text: mix( $base-color, $text-color, 40% );

// Borders
$default-border-color: rgb(211, 211, 211);
$default-border: 1px solid $default-border-color;
$default-border-radius: 5px;
$default-border-active: 2px solid $link-focus;

// Shadows
$standard-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$standard-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-minimal: 1px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);

// Fonts
$font__icon: 'Font Awesome 5 Free';