.main-grid {
  display: grid;
  grid:   
    ".  head    head    ." 90px
    ".  content sidebar ." auto
    ".  foot    foot    ." auto
  / auto minmax(400px, 700px) 260px auto;
}

.content {
  display: grid;
  grid-area: content;
}