.entry-title {
  margin: 0;
  clear: none;

  i {
    color: $color__bitjournal-blue;
    font-size: 0.5em;
  }

}

.edit-entry-link {
  background-color: $color__bitjournal-blue;
  border-radius: $border__default-radius;
  box-shadow: $shadow__default;
  padding: 5px 11px;
  float: left;

  a, i {
    color: white;
    text-decoration: none;

  }
}

.entry-meta {
  margin-bottom: -12px;
  position: absolute;
  width: 100%;

  p {
    text-align: center;
    font-weight: 300;
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: 1em;
    margin: 0;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: $color__text-main;
  }

  i {
    padding: 0 10px;
  }

}

/* ------------------------------------------------------------
  2.0 - Mood Flag
------------------------------------------------------------ */

.emotion-flag {
  padding: 8px 15px;
  margin-left: 20px;
  color: white;
  float: right;
  white-space: nowrap;

  border-radius: $border__default-radius;
  box-shadow: $shadow__default;

  span {
    font-size: 1.2em;
    padding-left: 12px;
    font-weight: 500;
    font-family: $font__main;
    display: inline-block;
  }

  // fontawesome icon
  i {
    font-size: 1.2em;
  }

}


/* ------------------------------------------------------------
  2.0 - People Cards
------------------------------------------------------------ */

.person-overview-container {
  margin-top: 20px;
  cursor: pointer;
}

.person-overview {
  justify-self: start;
  background-color: $color__bitjournal-blue;
  border-radius: $border__default-radius;
  box-shadow: $shadow__default;
  padding: 17px 7px;
  float: left;
  text-align: center;
  width: 128px;
  height: 165px;
  margin-right: 10px;

  img {
    border-radius: 100%;
    border: 3px solid white;
    width: 90px;
  }

}

.person-name-container {
  display: table; 
  height: 40px; 
  overflow: hidden;

  p {
    text-rendering: geometricPrecision;
    display: table-cell; 
    vertical-align: middle;
    width: 128px;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    color: white;
  }

}