@use '../variables' as var;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: var.$color-background-body; /* Fallback for when there is no custom background color defined. */
}

// hr element
hr {
	background-color: var.$color-icon;
  border: 10px;
  height: 2px;
  margin-bottom: 4.5em;
  width: 45%;
  margin-top: 4.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.wp-block-image {
  margin: 3em 0;
}

.link {
  cursor: pointer;
}
