h1, h2, h3, h4, h5, h6 {
  color: $color__text-main;
  clear: both;
}

h1 { font-size: 3.1em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.6em; }

@media only screen and (max-width: $tablet) {
  h1 { font-size: 2.5em; line-height: 1.1em; }
}
