@use '../variables' as var;

body,
button,
input,
select,
optgroup,
textarea {
	font-family: var.$typo-font-main;
	font-size: 16px;
	line-height: var.$typo-line-height-body;
	color: var.$color-text-main;
}