@use '../variables' as var;

// Push theme browser down.
.theme-browser {
  margin-top: 25px;
}


// Add default backdrop.
.theme-overlay .theme-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: #000;
  opacity: .7;
}

.theme-overlay .theme-wrap {
  top: var.$size-content-margin;
  right: var.$size-content-margin;
  bottom: var.$size-content-margin;
  left: var.$size-content-margin;

  .theme-actions a {
    line-height: 45px;
  }

}

// Add & upload theme overview styling.
.theme-browser .theme .theme-actions, 
.theme-browser .theme.active .theme-actions {
  height: 30px;
  padding: 0;
  margin-right: 8px;
  background: none;
  box-shadow: none;
  border: none;

  a, button {
    height: 31px;
    line-height: 30px;
    
    &:hover {
      box-shadow: none;
    }

  }

}

// Install and change theme button.
.theme-install-overlay .wp-full-overlay-header .button,
#customize-theme-controls .control-panel-themes .accordion-section-title .change-theme {
  height: 31px;
  line-height: 30px;
}

#nav-menu-footer, #nav-menu-header {
  background: white;
}
