/* ------------------------------------------------------------
  1.0 - Edit Post Header
------------------------------------------------------------ */
.block-editor-editor-skeleton,
.interface-interface-skeleton {
  top: 51px;
}

@media (min-width: 782px) {
  .block-editor-editor-skeleton,
	.interface-interface-skeleton {
    left: $admin-menu-width; 
  } 
	.edit-post-layout .editor-post-publish-panel {
		top: 51px;
	}
}

/* Auto fold is when on smaller breakpoints, nav menu auto collapses. */
@media (min-width: 782px) {
  .auto-fold .block-editor-editor-skeleton,
	.auto-fold .interface-interface-skeleton {
    left: $admin-menu-collapse-width;
  }  
}  

@media (min-width: 960px) {
  .auto-fold .block-editor-editor-skeleton,
	.auto-fold .interface-interface-skeleton {
    left: $admin-menu-width;
  } 
}

/* Sidebar manually collapsed. */
@media (min-width: 782px) {
  .folded .block-editor-editor-skeleton,
	.folded .interface-interface-skeleton {
    left: $admin-menu-collapse-width;
  } 
}

/* Mobile menu opened. */
@media (max-width: 782px) {
  .auto-fold .wp-responsive-open .block-editor-editor-skeleton,
	.auto-fold .wp-responsive-open .interface-interface-skeleton {
    left: 0;
		margin-left: 0;
  }
}


/* ------------------------------------------------------------
  2.0 - Edit Post Content
------------------------------------------------------------ */

@media (min-width: 782px) {

  // Post content area position.
  body .edit-post-layout__content {
    top: 56px + $admin-bar-height;
  }

  // Push sidebar down.
  .edit-post-sidebar {
    top: 57px + $admin-bar-height;
  }
  
}

@media (min-width: 782px) {
  body.auto-fold .edit-post-layout__content {
    margin-left: $admin-menu-collapse-width;
  } 
}

@media (min-width: 782px) and (min-width: 960px) {
  body.auto-fold .edit-post-layout__content {
    margin-left: $admin-menu-width; 
  } 
}

@media (min-width: 782px) { 
  body.folded .edit-post-layout__content {
    margin-left: $admin-menu-collapse-width; 
  }
	
	.folded .edit-post-layout .components-editor-notices__snackbar {
    left: 58px;
	}

	.edit-post-layout .components-editor-notices__snackbar {
    left: 220px;
	}
	
}

@media (min-width: 961px) {
  // Positioning of 'post published' or 'post updated' message after saving/publishing.
  .auto-fold .edit-post-layout .components-editor-notices__snackbar {
    left: 220px;
  }
}