@use '../variables' as var;
/* ============================================================
  Media Library
============================================================ */

/* ============================================================
  Table of Contents:
  1.0 - Media Library Overview
  2.0 - Attachment Details
============================================================ */

/* ------------------------------------------------------------
  1.0 - Media Library Overview
------------------------------------------------------------ */

// Remove media toolbar default styling.
.wp-filter {
  border: none;
  box-shadow: none;
  background: transparent;
}

// Center media toolbar elements.
.media-frame.mode-grid .media-toolbar select,
.media-frame.mode-grid.mode-edit .media-toolbar-secondary>.select-mode-toggle-button,
.media-toolbar.wp-filter .view-switch {
  margin-top: 10px;
}

// Attachement preview styling.
.media-frame.mode-grid .attachment.details, 
.media-frame.mode-grid .attachment, 
.media-frame.mode-grid .selected.attachment {
  
  &:focus {
    box-shadow: none;

    .attachment-preview {
      border: 2px solid var.$color-focus;
      box-shadow: var.$shadow-main-hover;
    }

  }

  &:hover .attachment-preview {
    box-shadow: var.$shadow-main;
  }

}

// Allow overflow to prevent box-shadow cutoff.
.media-frame .attachments-browser,
.attachments-browser .attachments, 
.attachments-browser .uploader-inline,
.media-frame-content,
#wp-media-grid,
.media-frame {
  overflow: visible;
}

// Media frame content area height.
.media-frame-content {
  bottom: 75px;
}

// Media frame sidebar.
.media-sidebar {
  background: white;
}

// Filter Media bar height.
.attachments-browser .media-toolbar {
	height: 95px;
}

.attachments-browser .attachments, 
.attachments-browser .uploader-inline {
	top: 95px;
}


/* ------------------------------------------------------------
  2.0 - Attachment Details
------------------------------------------------------------ */

.edit-attachment-frame .attachment-info {
  background: transparent;
}
