#plugin-information-footer {
	height: 45px;
}

.plugin-action-buttons a.button {
	margin-right: 0px;
}

#plugin-information .fyi {
	background: none;
}

#plugin-information-footer {
	background: white;
	box-shadow: $shadow-minimal;
}
