// Sizes

$size-admin-menu-width: 200px;
$size-admin-menu-collapse-width: 57px;
$size-content-margin: 35px; 
$size-admin-bar-height: 50px;
$size-button-height: 45px;
$size-border-radius-main:  7px;

$size-navbar-height: 50px;

// Breakpoints
$tablet:                  782px;