// Typography

$typo-font-main: 'Roboto', sans-serif;
$typo-font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$typo-font-pre: "Courier 10 Pitch", Courier, monospace;

$typo-line-height-body: 1.5;
$typo-line-height-pre: 1.6;
$type-font-size-menu: 15px;