$navbar-height: 60px;

.main-navigation {
  border-bottom: 1px solid rgb(223, 223, 223);
  background-color: rgb(255, 255, 255);
  height: $navbar-height;
  position: fixed;
  z-index: 1;
  width: 100%;


  img {
    height: $navbar-height;
    padding: 9px;
    float: left;
  }

}
/* OVERLAY MENU 
.navbar-right {
  z-index: 1005;

  width: 32px;
  margin: 18px;
  transition: all .3s;
  cursor: pointer;
  position: fixed;
  right: 0;
  span {
    transition: all .3s;
    height: 2px;
    width: 100%;
    display: block;
    background-color: $color__border-abbr;
    float: right;

    &:nth-of-type(2) {
      margin: 8px 0;

    }

  }

  &__closed {

    span {

      &:nth-of-type(2) {
        width: 75%;
      }

      &:nth-of-type(3) {
        width: 50%;
      }

    }

    &:hover span {
      width: 100%;
    }

  }

  &__opened {

    span {
      
      &:nth-of-type(1) {
        transform: rotate(-45deg) translateX(-5px) translateY(7px);
      }

      &:nth-of-type(2) {
        transform: rotate(45deg) translateX(0px) translateY(-2px);
      }

      &:nth-of-type(3) {
        width: 0%;
      } 

    }

  }

}

.menu-overlay {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100vw;
  height: 100vh;
  transition: all .5s;


  &__closed {
    opacity: 0;
    top: -100%;
  }

  &__opened {
    opacity: 1;
    top: 0;
  }

}
*/

/**
 * === There's a 3px gap between the menu items a elements. Why? 0.o ===
 * 
 * Right (main) menu styling.
 */
.navbar-right {
  z-index: 1005;
  text-align: right;
  float: right;
  width: auto;
  
  a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 18px 15px 17px 15px; 
    transition: all ease .4s;
    border-right: 1px solid white;
    border-left: 1px solid white;

    &:hover {
      background-color: lighten($color__bitjournal-blue, 50);
      border-left: 1px solid $color__bitjournal_blue;
      border-right: 1px solid $color__bitjournal_blue;
    }    

  }

}

/**
 * Top bar middle menu (mainly used for showing date, page number, ...) styling.
 */
.posts-navigation {
  text-align: center;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  font-size: 1em;
}

/**
 * Middle menu navigation for paged sites.
 */
.nav-next {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 25px;

  // Font Awesome Icon: https://fontawesome.com/icons/angle-left?style=solid
  &:before {
    content: "\f104";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding: 0 10px;
    color: $color__icon;
  }

}

.nav-previous {
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 25px;

  // Font Awesome Icon: https://fontawesome.com/icons/angle-right?style=solid
  &:after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding: 0 10px;
    color: $color__icon;
  }

}