@use '../variables' as var;

// Admin menu

// Necessary to display bitjournal logo.
#adminmenu {
  display: flex;
  flex-direction: column;
}

#adminmenu #aa-custom-logo {
  order: -1;
  opacity: 1!important;
  margin: -40px 0 20px 0;
  
  img {
    width: var.$size-admin-menu-width - 50px;
  }

}

// Hide logo if menu folded.
.folded #adminmenu #aa-custom-logo {
  display: none;
}

@media screen and (max-width: 960px) {
  .auto-fold #adminmenu #aa-custom-logo {
    display: none;
  }
}

// Admin menu styling.
#adminmenuback {
  border-right: var.$border-default;
  background: var.$color-main;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.33);
}

// Remove left border from menu item.
#adminmenu a:focus, 
#adminmenu a:hover,
.folded #adminmenu .wp-submenu-head:hover {
	box-shadow: none;
}

// Set position of submenu showed on hover.
#adminmenu .wp-submenu {
	top: -1000em;
	left: var.$size-admin-menu-width - 12px;
}

// Set position of submenu within admin bar.
#adminmenu .wp-has-current-submenu ul>li>a {
  padding: 5px 0px 5px 37px;
}

// Hover submenu styling.
#adminmenu .wp-not-current-submenu .wp-submenu, 
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
  border: var.$border-default
}

@media screen and (max-width: 782px) {
	#adminmenu .wp-not-current-submenu .wp-submenu, 
	.folded #adminmenu .wp-has-current-submenu .wp-submenu {
		border: none;
	}
}

// Admin menu width.
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  width: var.$size-admin-menu-width;
  z-index: 9999;
}

#adminmenu div.wp-menu-name {
  width: var.$size-admin-menu-width - 15px;
}

@media screen and (max-width: 782px) {

  // Set open mobile menu width.
  .auto-fold .wp-responsive-open #adminmenuback, 
  .auto-fold .wp-responsive-open #adminmenuwrap {
    width: var.$size-admin-menu-width;
  }

  // Put mobile admin menu behind admin bar.
  .auto-fold #adminmenu, 
  .auto-fold #adminmenuback, 
  .auto-fold #adminmenuwrap {
    z-index: 1;
  }
  
  .wp-submenu .wp-submenu-wrap {
    border: none;
  }

}

// Auto folded admin menu.
@media only screen and (max-width: 960px) {

	.auto-fold #adminmenuback,
	.auto-fold #adminmenuwrap,
	.auto-fold #adminmenu,
	.auto-fold #adminmenu li.menu-top {
    width: var.$size-admin-menu-collapse-width;
  }

	.auto-fold #adminmenu .wp-submenu.sub-open,
	.auto-fold #adminmenu .opensub .wp-submenu,
	.auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
	.auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
	.auto-fold #adminmenu a.menu-top:focus + .wp-submenu,
	.auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu {
    left: var.$size-admin-menu-collapse-width;
    border: var.$border-default;

		@media screen and (max-width: 783px) {
			left: -1px;
			border: none;
		}

  }
  
  // Icon padding.
  .auto-fold #adminmenuwrap ul#adminmenu {
    padding-left: 10px;
  }

}

// Manually collapsed admin menu.
.folded #adminmenuback,
.folded #adminmenuwrap,
.folded #adminmenu,
.folded #adminmenu li.menu-top {
  width: var.$size-admin-menu-collapse-width;
}

// Icon padding on manually collapsed menu.
.folded #adminmenuwrap ul#adminmenu {
  padding-left: 10px;
}

#adminmenuwrap {

  // Adds left spacing to menu items. 
  ul#adminmenu {
    padding: 0 10px 0 16px;
    box-sizing: border-box; 


    // Hides current menu item arrow.
    a.wp-has-current-submenu:after,
    > li.current > a.current:after {
      display: none;
    }

    // Opacity of not active menu points.
    > li {
      opacity: 0.6; 

      // Opacity of active menu point.
      &.current, 
      &.wp-has-current-submenu, 
      &:hover, 
      &:focus {
        opacity: 1; 
        background: transparent;
      }

      // menu point font styling
      > a {
        font-weight: bold;
        font-size: 0.95em;
        text-transform: uppercase;
        letter-spacing: 1px; 
      }

    }
  
    // icon color on hover and select
    > li.current .wp-menu-image:before, 
    > li.wp-has-current-submenu .wp-menu-image:before, 
    > li:hover .wp-menu-image:before, 
    > li:focus .wp-menu-image:before 
    {
      transition: all 0s;
      color: var.$color-link-focus; 
    }

    // Submenu position (padding)
    li.wp-has-submenu ul.wp-submenu {
      width: auto ;

    }

  } 

} 

.folded #adminmenu .wp-submenu.sub-open,
.folded #adminmenu .opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu a.menu-top:focus + .wp-submenu,
.folded #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
.no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
  left: var.$size-admin-menu-collapse-width;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.33);
}

// Open submenu arrow.
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: var.$color-main;
}

#adminmenu .wp-submenu .wp-submenu-head {
  font-weight: bold;
}

// Collapse menu button.
#collapse-menu span,
#collapse-menu #collapse-button div:after {
  opacity: 0.4;
}

// Collapse menu button hover.
#collapse-menu:hover span,
#collapse-menu:hover #collapse-button div:after {
  opacity: 1;
  color: var.$color-link-focus; 
}


/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
	background: var.$color-main;
}

#adminmenu a {
	color: var.$color-text;
}

#adminmenu div.wp-menu-image:before {
	color: var.$color-icon;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	color: var.$color-text;
	background-color: var.$color-transparent;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
	color: var.$color-text;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
	background: var.$color-main;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: var.$color-main;
}

#adminmenu .wp-submenu .wp-submenu-head {
	color: mix( var.$color-main, var.$color-text, 30% ); 
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
	color: mix( var.$color-main, var.$color-text, 30% );

	&:focus, &:hover {
		color: var.$color-link-focus;
	}
}


/* Admin Menu: current */

#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
	color: var.$color-text;

	&:hover, &:focus {
		color: var.$color-link-focus;
	}
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
    border-right-color: var.$color-main-background;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
	color: var.$color-text;
	background: var.$color-transparent;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
	color: var.$color-text;
}


/* Admin Menu: collapse button */

#collapse-button {
  color: var.$color-icon;
}

#collapse-button:hover,
#collapse-button:focus {
  color: var.$color-link-focus;
}