@use '../variables' as var;
@use 'sass:color';

#wpcontent > #wpadminbar {
	color: var.$color-text-main;
	background: var.$color-main;

  svg {
    width: 19px;
    margin: 0 5px -5px 0;
  }

  #wp-admin-bar-view-mode,
  #wp-admin-bar-add-entry {
    float: right;
  }

}

#wp-admin-bar-root-default > #wp-admin-bar-view-mode {

  a {
    padding: 0;
    width: 87px;
    position: fixed;
    top: 6px;
    right: 6px;
    height: 37px;
    border-radius: 7px;
    background: #1e8a9d;
    box-shadow: 2px -1px 32px -10px rgba(23, 201, 219, 0.68);
    line-height: unset; 
    color: white;
  }

  svg {
    width: 23px;
    color: white;
    margin-right: 7px;
    margin-left: 10px;
    transform: translateY(1px);
  }

}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
	color: var.$color-text-main;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
	color: var.$color-icon;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	color: var.$color-link-focus;
	background: transparent;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
	color: var.$color-link-focus;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
	color: var.$color-text-main;
}


/* Admin Bar: submenu */

#wpadminbar .menupop .ab-sub-wrapper {
	background: var.$color-main;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: var.$color-main;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: mix( var.$color-main, var.$color-text-main, 30% );
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
	color: var.$color-icon;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
	color: var.$color-link-focus;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
	color: var.$color-link-focus;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
	color: var.$color-icon;
}


/* Admin Bar: search */

#wpadminbar #adminbarsearch:before {
	color: var.$color-icon;
}

/* Responsive Component */

div#wp-responsive-toggle a:before {
	color: var.$color-icon;
}

.wp-responsive-open div#wp-responsive-toggle a {
	border-color: transparent;
	background: var.$color-transparent;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
	background: var.$color-main;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
	color: var.$color-icon;
}

// Admin bar styling.
html #wpadminbar {
  height: var.$size-admin-bar-height;
  padding: 0 var.$size-content-margin;
  border-bottom: var.$border-default;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.33);
  box-sizing: border-box;
  left: unset;
  right: 0;
  z-index: 100;

  li a {
    line-height: var.$size-admin-bar-height;
    font-size: 15px;
  }

  // Height for mobile version.
  @media only screen and (max-width: 782px) {
    height: 50px;
  }

}

// Admin bar width.
#wpwrap #wpadminbar {
  width: calc( 100% - #{var.$size-admin-menu-width} );

  @media screen and ( max-width: 782px ) {
    padding: 0;
  }
  
}
// Sets width if menu folded. (This possibly could work with less calculations...)
.folded #wpwrap #wpadminbar {
  width: calc( 100% - #{var.$size-admin-menu-collapse-width} );
}

.auto-fold #wpwrap #wpadminbar {

  @media only screen and (max-width: 960px) {
    //width: calc( 100% - #{var.$size-admin-menu-collapse-width} - 2 * #{var.$size-content-margin} );
  }

  // Full width on mobile.
  @media only screen and (max-width: 782px) {
    width: 100%;
  }
  
}
// Sets admin bar item height.
#wpadminbar .quicklinks .ab-empty-item, 
#wpadminbar .quicklinks a, 
#wpadminbar .shortlink-input {
  height: var.$size-navbar-height;
}