
@use '../variables' as var;

$menu-submenu-text: mix( var.$color-main, var.$color-text, 30% );

/* Links */



/* Forms */

/* Core UI */
/*
.wp-core-ui {
	.button-primary {
		@include button( var.$color-button );
	}

	.wp-ui-primary {
		color: var.$color-text;
		background-color: var.$color-main;
	}
	.wp-ui-text-primary {
		color: var.$color-main;
	}

	.wp-ui-highlight {
		color: var.$color-text;
		background-color: var.$color-transparent;
	}
	.wp-ui-text-highlight {
		color: var.$color-transparent;
	}

	.wp-ui-notification {
		color: var.$color-main;
		background-color: $menu-bubble-background;
	}
	.wp-ui-text-notification {
		color: $menu-bubble-background;
	}

	.wp-ui-text-icon {
		color: var.$color-icon;
	}
}


/* List tables */
/*
.wrap .add-new-h2:hover, // deprecated 
.wrap .page-title-action:hover {
	color: var.$color-text;
	background-color: var.$color-main;
}

.view-switch a.current:before {
	color: var.$color-focus;
}

.view-switch a:hover:before {
	color: var.$color-text;
}




/* Active tabs use a bottom border color that matches the page background color. */
/*
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
	background-color: var.$color-main-background;
	border-bottom-color: var.$color-main-background;
}



