.cat-list div {
  margin: 0 auto;
  
  a {
    text-decoration: none;
    font-size: 1.2em;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin-left: 15px;
  }

  svg {
    color: #757575;
    height: 18px;
    stroke-width: 3px;
    transform: translateY(2px);
  }

  .children {
    border-left: 2px solid #e1e1e1;
    margin-left: 12px;
    padding-left: 8px;
  }

}
