@use '../variables' as var;

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 50px;
}

.archive-overview {
  cursor: pointer;
  height: auto;
  background-color: white;
  border-radius: var.$size-border-radius-main;
  padding: 15px;

  &__year-link {
    transition: all ease .4s;
    color: var.$color-text-main;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.7em;

    &:hover {
      color: var.$color-bitjournal-blue;
    }

  }

  &__month-link {
    display: block;
    padding: 5px 5px 5px 20px;
    border: 1px solid var.$color-border-light;
    text-decoration: none;
    transition: all ease .7s;
    border-radius: var.$size-border-radius-main;
    margin-top: 5px;

    &:hover {
      background-color: lighten(var.$color-bitjournal-blue, 50);
      border: 1px solid var.$color-bitjournal-blue;

    }

  }

  &__count {
    border-left: 1px solid var.$color-border-light;

    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    float: right;
    text-align: center;

    font-size: 0.7em;
  }

}
