// Icon color
.fas , .fa {
  color: $color__icon;
}

.entry-title {
  margin-top: 0;

  i {
    color: $color__bitjournal-blue;
    font-size: 0.5em;
  }

}

.entry-content {
  margin-bottom: 30px;
}


/* ------------------------------------------------------------
  2.0 - People Cards
------------------------------------------------------------ */

.person-overview {
  justify-self: start;
  padding: 11px 9px;
  // background-color: hsl(0, 0%, 95%);
  border-radius: $border__default-radius;
  justify-self: left;
  text-align: center;
  width: 115px;
  margin: 0 10px 16px 0;
  cursor: pointer;
  border: 1px solid white;
  transition: .7s ease all;


  &:hover {
    border: 1px solid $color__bitjournal-blue;
    background: lighten($color__bitjournal-blue, 50);
  }

  img {
    border-radius: 100%;
    // border: 3px solid white;
    width: 90px;
    box-shadow: $shadow__default;
  }

  p {
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    width: 100%;
    height: 38px;
    padding: 0 5px;
    margin: 0;
    border-radius: 10px;
    font-size: .8em;
    line-height: 1.5em;
  }

}

.entry-category {
  color: $color__text-light;
  font-size: .8em;
  white-space: nowrap;

}

/* ------------------------------------------------------------
  3.0 - 
------------------------------------------------------------ */

.area__head {
  display: grid;
  grid-area: head;
  margin-top: 180px;

  h1 {
    text-align: center;
  }

}

.mood  {
  float: left;
  white-space: nowrap;

  span {
    border-radius: 25px;
    padding: 3px 13px;
    margin-right: 18px;
    transition: all .5s;
    color: white;
    font-size: 0.8em;
  }

}
.category {
  margin-top: 2px;
  float: left;
}

// Mood colors
#excellent  { background-color: $color__mood-excellent; }
#very-good  { background-color: $color__mood-very-good; }
#good       { background-color: $color__mood-good;      }
#neutral    { background-color: $color__mood-neutral;   }
#bad        { background-color: $color__mood-bad;       }
#very-bad   { background-color: $color__mood-very-bad;  }
#horrible   { background-color: $color__mood-horrible;  }

.date {
  white-space: nowrap;
}

.tags i, .category i, .date i {
  margin-right: 5px;
  color: $color__text-light;
}

.tags {
  margin-bottom: 25px;

  a {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 6px 8px 0;
    font-size: .8em;
    padding: 0px 4px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.2s;
    border: 1px solid $color__text-light;
    color: $color__text-light;

    &:hover {
      background-color: $color__bitjournal-blue;
      border: 1px solid $color__bitjournal-blue;
      color: white;
    }

  }

}

.post-categories {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
  
  li {
    display: inline;
    text-decoration: none;
    padding-right: 20px;

    a {
      font-size: .9em;
      text-decoration: none;
      color: $color__text-light;

      &:before {
        content: "\f0da";
        font-family: $font__icon; 
        font-weight: 900; 
        padding: 0 7px;
      }

      &:first-of-type:before {
        content: none;
      }

    }

  }

}

.area__sidebar {
  display: grid;
  grid-area: sidebar;
  margin: 28px 25px 0 0;
  align-content: baseline;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  border-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, 0),
  ) 1 100%;
}


.edit-entry-link {
  display: inline-block;
  height: 20px;
  margin-left: 15px;
  transform: scale(0.8);

  i {
    color: $color__icon;
    padding: 8px;
    border-radius: 100%;
    border: 1px solid $color__icon;
    transition: all ease 1s;

    &:hover {
      color: $color__bitjournal-blue;
      border: 1px solid $color__bitjournal-blue;
      background-color: lighten($color__bitjournal-blue, 50) ;
    }

  }

}

.post-meta-seperator {
  width: 100%;
  height: 1px;
  margin: 20px 0;
}
