@use '../variables' as var;

.entry-title {
  margin: 0;

  i {
    color: var.$color-bitjournal-blue;
    font-size: 0.5em;
  }

	a {
		text-decoration: none;
	}

}

.entry-content {
  margin-bottom: 30px;
}


/* ------------------------------------------------------------
  2.0 - People Cards
------------------------------------------------------------ */

.person-overview {
  justify-self: start;
  padding: 11px 9px;
  // background-color: hsl(0, 0%, 95%);
  border-radius: var.$size-border-radius-main;
  justify-self: left;
  text-align: center;
  width: 115px;
  margin: 0 10px 16px 0;
  cursor: pointer;
  border: 1px solid white;
  transition: .7s ease all;


  &:hover {
    border: 1px solid var.$color-bitjournal-blue;
    background: lighten(var.$color-bitjournal-blue, 50);
  }

  img {
    border-radius: 100%;
    // border: 3px solid white;
    width: 90px;
    box-shadow: var.$shadow__default;
  }

  p {
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    width: 100%;
    height: 38px;
    padding: 0 5px;
    margin: 0;
    border-radius: 10px;
    font-size: .8em;
    line-height: 1.5em;
  }

}

.entry-category {
  color: var.$color-text-light;
  font-size: .8em;
  white-space: nowrap;

}

/* ------------------------------------------------------------
  3.0 - 
------------------------------------------------------------ */

.area__head {
  display: grid;
  grid-area: head;
  margin-top: 140px;

  h1 {
    text-align: center;
  }

  @media screen and ( max-width: var.$tablet ) {
    margin-top: 110px;
   }

}

.mood  {
  float: left;
  white-space: nowrap;

  span {
    border-radius: 25px;
    padding: 3px 13px;
    margin-right: 18px;
    transition: all .5s;
    color: white;
    font-size: 0.8em;
  }

}
.category {
  //margin-top: 2px;
  // float: left;
}

// Mood colors
#excellent  { background-color: var.$color-mood-excellent; }
#very-good  { background-color: var.$color-mood-very-good; }
#good       { background-color: var.$color-mood-good;      }
#neutral    { background-color: var.$color-mood-neutral;   }
#bad        { background-color: var.$color-mood-bad;       }
#very-bad   { background-color: var.$color-mood-very-bad;  }
#horrible   { background-color: var.$color-mood-horrible;  }


.category-bar,
.date-bar {
  margin-right: 15px;
  font-size: .9em;
  line-height: 1.9em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: var.$color-text-light;

  svg {
    margin-right: 3px;
    height: 20px;
  }
}

.category-bar a {
  text-decoration: none;
  color: var.$color-text-light;
}

.tags {
  margin-bottom: 25px;
  display: inline-flex;
  align-items: center;

  svg {
    color: var.$color-text-light;
    margin-right: 3px;
  }


  a {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 6px;
    font-size: .8em;
    padding: 0px 4px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.2s;
    border: 1px solid var.$color-text-light;
    color: var.$color-text-light;

    &:hover {
      background-color: var.$color-bitjournal-blue;
      border: 1px solid var.$color-bitjournal-blue;
      color: white;
    }

  }

}

.post-categories {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
	
  li {
    display: inline;
    text-decoration: none;
    padding-right: 20px;

    a {
      font-size: .9em;
      text-decoration: none;
      color: var.$color-text-light;


      &:first-of-type:before {
        content: none;
      }

    }

  }

}

.area__sidebar {
  display: grid;
  grid-area: sidebar;
  margin: 28px 25px 0 0;
  align-content: baseline;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  border-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, 0),
  ) 1 100%;
}


.edit-entry-link {
  display: inline-grid;
  margin-left: 15px;
  color: var.$color-icon;
  border-radius: 100%;
  border: 1px solid var.$color-icon;
  transition: all ease 1s;

  &:hover {
    color: var.$color-bitjournal-blue;
    border: 1px solid var.$color-bitjournal-blue;
    background-color: lighten(var.$color-bitjournal-blue, 50) ;
  }

  svg {
    padding: 9px;
    width: 40px;
    height: 40px;
  }

}

.post-meta-seperator {
  width: 100%;
  height: 1px;
  margin: 20px 0;
}
