.people-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 115px));
}

.people-info-box {
  border-radius: $border__default-radius;
}

.people-meta {
  width: 100%;
  background-color: white;  
  margin: 0 auto 0 auto;
  border-radius: $border__default-radius;
  padding: 20px 10% 20px 10%;
  z-index: 3;
  text-align: center;

  span {
    color: $color__text-light;
    font-size: .9em;
    padding: 10px;
  }

}

.people-profile-large {
  border: 5px solid white;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: $shadow__default;
  margin: -65px auto 65px auto; 
}


.people-background {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-color: hsl(0, 0%, 95%);
  height: 80%;
  z-index: -99;
}

.taxonomy-content {
  margin-top: 175px;
}

.read-more {
  text-decoration: none;
  color: $color__text-light;

  i {
    margin-left: 5px;
    color: $color__text-light;
  }
  
}

.page-people .area__head, .page-archive .area__head {
  margin-bottom: 100px;

  a {
    margin-left: 0;
  }

  @media screen and ( max-width: $tablet ) {
    margin-bottom: 0px;
  }

}
