.grid__main {
  display: grid;
  grid-gap: 10px;
  grid:
    ".  head      ." auto
    ".  content   ." auto
    ".  foot      ." 50px
  / auto minmax(400px, 755px) auto;
}

.grid__main-sidebar {
  display: grid;
  grid:   
    ".    .       head       ." auto
    ".    sidebar content    ." auto
    "foot foot    foot    foot" auto
  / auto  260px minmax(400px, 700px) auto;
}

.area__content {
  display: grid;
  grid-area: content;
}

