.grid__main {
  display: grid;
  grid-gap: 10px;
  grid:
    ".  head      ." 210px
    ".  content   ." auto
    ".  foot      ." 50px
  / auto minmax(400px, 755px) auto;
}

.grid__main-sidebar {
  display: grid;
  grid:   
    ".  head    head    ." 90px
    ".  content sidebar ." auto
    ".  foot    foot    ." auto
  / auto minmax(400px, 700px) 260px auto;
}

.area__content {
  display: grid;
  grid-area: content;
}

