.grid__main {
  display: grid;
  grid-gap: 10px;
  grid:
    ".  head      ." 90px
    ".  content   ." auto
    ".  foot      ." 50px
  / auto minmax(400px, 980px) auto;
}

.main-grid-sidebar {
  display: grid;
  grid:   
    ".  head    head    ." 90px
    ".  content sidebar ." auto
    ".  foot    foot    ." auto
  / auto minmax(400px, 700px) 260px auto;
}

.area__content {
  display: grid;
  grid-area: content;
}

$entry-card-padding: 90px;

.type-entry {
  background-color: white;
  padding: $entry-card-padding;
}

.card__default {
  border-radius: $border__default-radius;
  box-shadow: $shadow__default;
}