// Colors

$color-border: rgb(211, 211, 211);
$color-main-background: hsl(0, 0%, 96%);
$color-main: hsl(0, 0%, 100%);
$color-text: rgb(65, 65, 65);
$color-link: darken( $color-main, 80% );
$color-link-focus: rgb(0, 137, 172);
$color-icon: darken( $color-main, 65% );
$color-focus: rgb(0, 137, 172);
$color-notification: rgb(213, 78, 33);
$color-wpcontent: hsl(0, 0%, 94%);
$color-button: rgb(241, 241, 241);
$color-form-checked: $color-link-focus;
$color-transparent: rgba(0, 0, 0, 0);

$color-mood-excellent: #03AF36;
$color-mood-very-good: #7BCD3E;
$color-mood-good:      #2388A3;
$color-mood-neutral:   #14B7BD;
$color-mood-bad:       #FFAA00;
$color-mood-very-bad:  #FF6E00;
$color-mood-horrible:  #eb231d;